In [14]:
import numpy as np
import pandas as pd
import tensorflow as tf
from keras.layers import Input, Dense, Concatenate
from keras.models import Model
from tensorflow import keras

In [15]:
data = pd.read_csv('FULLUwi.csv')

In [16]:
data.head()

,Subject,CourseCode,CourseType,CourseType1,Semester,Year,Faculty,Level,Location,Lecturer,Students,Seats,Room,Attribute
0,ACCT,1005,E,E11,1,2021/2022,FSS,1,Mona - Weekend,"Paul, Dwayney (Primary)",63,100,ONLINE,NaN
1,ACCT,1005,M,M11,1,2021/2022,FSS,1,Mona,"Thomas-Stone, Joan (Primary)",160,160,ONLINE,NaN
2,ACCT,1005,M,M12,1,2021/2022,FSS,1,Mona,"Paul, Dwayney (Primary)",156,160,ONLINE,NaN
3,ACCT,1005,M,M13,1,2021/2022,FSS,1,Mona,"Falconer, Debbie (Primary)",159,160,ONLINE,NaN
4,ACCT,1005,M,M14,1,2021/2022,FSS,1,Mona,"Thomas-Stone, Joan (Primary)",160,160,ONLINE,NaN

In [17]:
list_features = data.columns
print('They are',len(list_features),'features in the dataset.')
print('----------------')
for f in list_features:
    print('feature:', f, '|| Type:', type(data[f][0]), '|| Example:', data[f][0], '|| number of unique values', len(data[f].unique()) )

They are 14 features in the dataset.
----------------
feature: Subject || Type: <class 'str'> || Example: ACCT || number of unique values 194
feature: CourseCode || Type: <class 'numpy.int64'> || Example: 1005 || number of unique values 1256
feature: CourseType || Type: <class 'str'> || Example: E || number of unique values 17
feature: CourseType1 || Type: <class 'str'> || Example: E11 || number of unique values 477
feature: Semester || Type: <class 'numpy.int64'> || Example: 1 || number of unique values 4
feature: Year || Type: <class 'str'> || Example: 2021/2022 || number of unique values 5
feature: Faculty || Type: <class 'str'> || Example: FSS || number of unique values 36
feature: Level || Type: <class 'str'> || Example: 1 || number of unique values 11
feature: Location || Type: <class 'str'> || Example: Mona - Weekend || number of unique values 18
feature: Lecturer || Type: <class 'str'> || Example: Paul, Dwayney (Primary)  || number of unique values 4946
feature: Students || Type: <class 'numpy.int64'> || Example: 63 || number of unique values 349
feature: Seats || Type: <class 'numpy.int64'> || Example: 100 || number of unique values 199
feature: Room || Type: <class 'str'> || Example: ONLINE || number of unique values 229
feature: Attribute || Type: <class 'float'> || Example: nan || number of unique values 58

In [18]:
data.isnull().sum()

Subject            0
CourseCode         0
CourseType         2
CourseType1        0
Semester           0
Year               0
Faculty          718
Level              0
Location           0
Lecturer        4247
Students           0
Seats              0
Room             718
Attribute      50160
dtype: int64

In [19]:
def extraLec(name):
  if len(name.split())>3:
    return 'Yes'
  else:
    return 'No'

In [20]:
values = {'CourseType':'None','Faculty':'UN','Lecturer':'UN','Room':'UN','Attribute':'None'}
data= data.fillna(value=values)

In [21]:
column = ['Attribute']
dataframe = data.loc[:,~data.columns.isin(column)].copy()
labels = dataframe.pop("Students")
dataset = tf.data.Dataset.from_tensor_slices((dict(dataframe), labels))
dataset = dataset.shuffle(buffer_size=len(dataframe))
feature_space = tf.keras.utils.FeatureSpace(
    features={
        "Subject": "string_categorical",
        "CourseCode": "integer_categorical",
        "CourseType": "string_categorical",
        "CourseType1": "string_categorical",
        "Semester": "integer_categorical",
        "Year": "string_categorical",
        "Faculty": "string_categorical",
        "Level": "string_categorical",
        "Location": "string_categorical",
        "Lecturer": "string_categorical",
        "Room": "string_categorical",
        "Seats": "float_normalized",
    },
    output_mode="concat",
)
dataset = tf.data.Dataset.from_tensor_slices(dict(dataframe))
feature_space.adapt(dataset)

# You can call the FeatureSpace on a dict of data (batched or unbatched).
output_vector = feature_space(dict(dataframe))

In [22]:
X_train = output_vector[:40000]
X_test = output_vector[40000:]
y_train = data['Students'][:40000]
y_test = data['Students'][40000:]

In [23]:
tf.random.set_seed(42)
model = keras.models.Sequential([
 keras.layers.Dense(75, activation="relu",  input_shape=X_train.shape[1:]),
 keras.layers.Dense(20, activation="relu"),
 keras.layers.Dense(5, activation="relu"),
 keras.layers.Dense(1)
])
early_stopping_cb = keras.callbacks.EarlyStopping(patience=10,
 restore_best_weights=True)
model_checkpoint_cb = keras.callbacks.ModelCheckpoint("my_model.h5", save_best_only=True)
model.compile(loss="mean_absolute_error", optimizer = 'sgd')
history = model.fit(X_train, y_train, epochs=100,
 validation_data=(X_test, y_test), callbacks=[early_stopping_cb,model_checkpoint_cb])

Epoch 1/100
1250/1250 [==============================] - 14s 11ms/step - loss: 13.6250 - val_loss: 12.4372
Epoch 2/100
1250/1250 [==============================] - 11s 8ms/step - loss: 9.9870 - val_loss: 9.7294
Epoch 3/100
1250/1250 [==============================] - 11s 9ms/step - loss: 8.3635 - val_loss: 8.4963
Epoch 4/100
1250/1250 [==============================] - 12s 9ms/step - loss: 7.5798 - val_loss: 8.7883
Epoch 5/100
1250/1250 [==============================] - 12s 9ms/step - loss: 7.2156 - val_loss: 8.3595
Epoch 6/100
1250/1250 [==============================] - 12s 9ms/step - loss: 6.7824 - val_loss: 9.0578
Epoch 7/100
1250/1250 [==============================] - 12s 9ms/step - loss: 6.5103 - val_loss: 7.7305
Epoch 8/100
1250/1250 [==============================] - 12s 9ms/step - loss: 6.3080 - val_loss: 7.4173
Epoch 9/100
1250/1250 [==============================] - 12s 9ms/step - loss: 6.1287 - val_loss: 7.3518
Epoch 10/100
1250/1250 [==============================] - 11s 9ms/step - loss: 5.9431 - val_loss: 7.5266
Epoch 11/100
1250/1250 [==============================] - 10s 8ms/step - loss: 5.7658 - val_loss: 7.4262
Epoch 12/100
1250/1250 [==============================] - 12s 9ms/step - loss: 5.5988 - val_loss: 7.2695
Epoch 13/100
1250/1250 [==============================] - 12s 9ms/step - loss: 5.4870 - val_loss: 7.1529
Epoch 14/100
1250/1250 [==============================] - 12s 9ms/step - loss: 5.3569 - val_loss: 7.3220
Epoch 15/100
1250/1250 [==============================] - 11s 9ms/step - loss: 5.2208 - val_loss: 7.0514
Epoch 16/100
1250/1250 [==============================] - 11s 9ms/step - loss: 5.1587 - val_loss: 7.2192
Epoch 17/100
1250/1250 [==============================] - 11s 9ms/step - loss: 5.0197 - val_loss: 6.9521
Epoch 18/100
1250/1250 [==============================] - 11s 8ms/step - loss: 4.9557 - val_loss: 7.2842
Epoch 19/100
1250/1250 [==============================] - 10s 8ms/step - loss: 4.8490 - val_loss: 7.0328
Epoch 20/100
1250/1250 [==============================] - 11s 9ms/step - loss: 4.7430 - val_loss: 7.0930
Epoch 21/100
1250/1250 [==============================] - 12s 9ms/step - loss: 4.6883 - val_loss: 7.5199
Epoch 22/100
1250/1250 [==============================] - 12s 10ms/step - loss: 4.6061 - val_loss: 6.8540
Epoch 23/100
1250/1250 [==============================] - 12s 10ms/step - loss: 4.5463 - val_loss: 7.3693
Epoch 24/100
1250/1250 [==============================] - 12s 9ms/step - loss: 4.4651 - val_loss: 6.9040
Epoch 25/100
1250/1250 [==============================] - 11s 8ms/step - loss: 4.3745 - val_loss: 6.8923
Epoch 26/100
1250/1250 [==============================] - 11s 8ms/step - loss: 4.3108 - val_loss: 6.8422
Epoch 27/100
1250/1250 [==============================] - 11s 9ms/step - loss: 4.2692 - val_loss: 6.9293
Epoch 28/100
1250/1250 [==============================] - 12s 9ms/step - loss: 4.2073 - val_loss: 6.9296
Epoch 29/100
1250/1250 [==============================] - 11s 8ms/step - loss: 4.1239 - val_loss: 7.2551
Epoch 30/100
1250/1250 [==============================] - 12s 9ms/step - loss: 4.1006 - val_loss: 6.8182
Epoch 31/100
1250/1250 [==============================] - 11s 9ms/step - loss: 4.0310 - val_loss: 6.9024
Epoch 32/100
1250/1250 [==============================] - 11s 9ms/step - loss: 3.9908 - val_loss: 6.8010
Epoch 33/100
1250/1250 [==============================] - 11s 8ms/step - loss: 3.9119 - val_loss: 6.8868
Epoch 34/100
1250/1250 [==============================] - 11s 9ms/step - loss: 3.8827 - val_loss: 6.8434
Epoch 35/100
1250/1250 [==============================] - 12s 10ms/step - loss: 3.8243 - val_loss: 6.8820
Epoch 36/100
1250/1250 [==============================] - 11s 9ms/step - loss: 3.7850 - val_loss: 6.9322
Epoch 37/100
1250/1250 [==============================] - 11s 8ms/step - loss: 3.7538 - val_loss: 6.8781
Epoch 38/100
1250/1250 [==============================] - 10s 8ms/step - loss: 3.6923 - val_loss: 6.8506
Epoch 39/100
1250/1250 [==============================] - 11s 9ms/step - loss: 3.6656 - val_loss: 6.8456
Epoch 40/100
1250/1250 [==============================] - 10s 8ms/step - loss: 3.6091 - val_loss: 6.8955
Epoch 41/100
1250/1250 [==============================] - 11s 8ms/step - loss: 3.5676 - val_loss: 6.9128
Epoch 42/100
1250/1250 [==============================] - 11s 9ms/step - loss: 3.5359 - val_loss: 7.0036

In [24]:
prediction = model.predict(output_vector)
data['PreStudents'] = prediction
data.to_csv('PTest.csv',index=False)

1884/1884 [==============================] - 8s 4ms/step